@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --background-default: 0deg 0% 11%;
  --tw-ring-offset-shadow: 0 0 #0000;
  --brand-button: 151.8deg 47.1% 40.8%;
  --brand-default: 153.1deg 60.2% 52.7%;
}

.bg-brand-button {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--brand-button) / var(--tw-bg-opacity));
}

.border-brand {
  --tw-border-opacity: 1;
  border-color: hsl(var(--brand-default) / var(--tw-border-opacity));
}

body {
  background-color: hsl(var(--background-default) / var(--tw-bg-opacity));
}
